h1{
	color: red;
	text-align: center;
	font-family: "Comic Sans MS";
}

#another1{
	color: blue;
}
#anotherh1:hovor{
	color: blue;
}

#thisisadiv{
	background-color: red;
	height: 200;
	width: 2000;
}